<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Aceites Esenciales Extraordinarios</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center ms-2 bg-gradient fs-2 mb-3">
            <img src="../../../assets/iconos/001-flower.png" alt="">   
             </div>
        <h3 class="fs-2">Aroma</h3>
        <p>Aromatiza tu vida, agrega un toque de naturaleza a tu vida con aceites esenciales y 
            Crea una atmósfera relajante y acogedora con nuestras fragancias naturales</p>
        <a href="#" class="icon-link d-inline-flex align-items-center">
          Call to action
         
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center ms-2 text-bg-primary bg-gradient fs-2 mb-3">
            <img src="../../../assets/iconos/002-beauty.png" alt="">   

        </div>
        <h3 class="fs-2">Belleza</h3>
        <p>¡Transforma tu rutina de belleza! Agrega nuestros aceites esenciales 100% naturales 
            a tus productos de cuidado personal y mejora la apariencia y salud de tu piel, cabello y cuerpo</p>
        <a href="#" class="icon-link d-inline-flex align-items-center">
          Call to action
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient ms-2 fs-2 mb-3">
            <img src="../../../assets/iconos/003-calm.png" alt="">   

        </div>
        <h3 class="fs-2">Tranquilidad</h3>
        <p>¿Estás buscando una solución natural para el estrés y la ansiedad?
             Prueba nuestros aceites esenciales y experimenta la sensación de calma y 
             tranquilidad que te ayudarán a relajarte y mejorar tu estado de ánimo</p>
        <a href="#" class="icon-link d-inline-flex align-items-center">
          Call to action
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
    </div>
  </div>