<div class="cuerpo d-flex w-100 justify-content-center align-items-center flex-column" style="height: 100vh !important;">
    <main class="px-3 row ">
      <div class="col-md-6 m-auto">
  
         <h1 class="text-white">Pura armonía aromática.</h1>
      <p class="lead md-8 text-white">Descubre el poder de la naturaleza en cada gota. Nuestros aceites esenciales puros son la esencia de la serenidad y el bienestar. Eleva tus sentidos, equilibra tu mente y transforma tu espacio con la pureza que solo nuestros aceites pueden ofrecer. ¡Haz que cada día sea una experiencia aromática única</p>
      <p class="lead">
        <a [routerLink]="['/home']"  class="btn btn-lg btn-light fw-bold border-white bg-white">Entrar </a>
      </p>
      </div>
     
    </main>
  
  
  </div>