.cuerpo {
    height:100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../../../assets/images/aceites6_.jpg");
    background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 background-clip: content-box;
  }