<div class="container">
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">
        Oh yeah, Potencia Muscular Renovada.
        <span class="text-body-secondary">Vigor Recuperado..</span>
      </h2>
      <p class="lead">
        Revitaliza tus músculos, libera la tensión y alcanza tu máximo rendimiento 
        con nuestra fórmula de alivio muscular. Bienestar en cada movimiento.
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img
        src="../../../assets/images/aceites1b_.jpg"
        class="img-fluid rounded"
        alt=""
      />
    </div>
  </div>
</div>
